h1{
    color: rosybrown;
    font-size: 100px;
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
background-color: black;
}
p{
    text-align: center;
    color: antiquewhite;
    font-size: x-large;
}